In [49]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [50]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [51]:
import pandas as pd

In [52]:
# create DataFrame object
# keys are columns 
# lists of something are rows
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [53]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [54]:
df[['first', 'last']] # returns pandas.core.frame.DataFrame

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [55]:
df.iloc[0] # access the single row

df.iloc[[0, 1]] # access multiple rows
 
df.iloc[[0, 1], [2, 1]] # first param - rows
                        # second param  - cols

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [56]:
df.loc[[0, 1], ['email', 'last']] # same as iloc but takes string args for second param

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [57]:
# set index column 
df.set_index('email') # change once
df.set_index('email', inplace=True) # change forever
df.index # nice unique identifier for the row

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [58]:
df.loc['CoreyMSchafer@gmail.com'] # we replaced default indexes with strings
                                  # and now the 1st arg is a string cant do df.loc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [59]:
df.reset_index(inplace=True) # reset index assignment

In [64]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

               email first last
2  JohnDoe@email.com  John  Doe

In [61]:
df.loc[filt, 'email'] # 1st rows that we want, 2nd columns that we want

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe